.well {
    width: 275px
}

.panel {
    width: 275px
}

.jumbotron {
    overflow: hidden;
    background-image: url("https://raw.githubusercontent.com/nconnel4/bc2021-project2-covid/develop/covidvaccinationproject/images/covid.png");
    background-color: rgba(255,255,255,0.4);
    background-blend-mode: lighten;
}