.well {
    width: 275px;
}

.panel {
    width: 275px;
}

.panel-primary {
    border-color: black;
}

.panel-primary>.panel-heading {
    background-color: #B00202;
    border-color: black;
}

.jumbotron {
    overflow: hidden;
    background-image: url("https://raw.githubusercontent.com/nconnel4/bc2021-project2-covid/develop/covidvaccinationproject/images/covid.png");
    background-color: rgba(255,255,255,0.4);
    background-blend-mode: lighten;
}

figure {
    display: inline-block;
    margin-left: 200px;
}

figure img {
    vertical-align: top;
}

figcaption {
    text-align: "center";
}